<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>  
    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <title>班级列表</title>  
    <style> 
    body{
     text-align:center;
    } 
    table{
     border-collapse:collapse;
     margin:0 auto;
    }
    table,tr,td,th{
     border:1px solid gray;
    }
    td{
      padding:10px;
    }
       
      
    </style>  
<body>  
<table>
<tr><th>班级名称</th><th>修改</th><th>删除</th><tr>
   <tr th:each="bj:${bjList}">
   <td th:text="${bj.bjname}"></td>
   <td><a th:href="@{/bj/edit(id=${bj.id})}">修改</a></td>
   <td><a th:href="@{/bj/delete/(id=${bj.id})}" onclick="return confirm('确实要删除该记录吗?')">删除</a></td>
   <tr>
</table>
 <a href="/bj/preadd">添加班级</a>
</body>

</html>  